extends layout.pug

block variable
	-var user = true
	-var titleName = Withdraw
	-var title = "Deposit"
	-var menuChecked = "Deposit"

block header-login

	include include/header

block prepend main
	+b.MAIN.section-main
		section.black-main
			.left-sidebar
				include include/menu/account-menu
			.main-container
				.heading--main-container
					h1.black-main--head= title
				.credit-card--drop
					span.arrow-default
					.head--credit-card
						.credit-card--name
							p Payment Method
						.payment-card
							img(src="img/credit-card--mc.svg", alt="")
							.payment-card--info
								p *4242
								span Credit Card
					.main--credit-card
						.wrapper-show--animate.is-show
							form
								.payment--select-price
									label.radio--select-price
										input(type="radio" name="radio" required="")
										.text--select-price £50.00 
									label.radio--select-price
										input(type="radio" name="radio" required="")
										.text--select-price £100.00 
									label.radio--select-price
										input(type="radio" checked name="radio" required="")
										.text--select-price £200.00 

								.label-payment--fill
									span.icon-many £
									input(value="200").input-black.text-center
								.label-payment--fill
									label.default-label Deposit Bonus Code
									input.input-black
								.label-payment--fill
									label.checkbox-static
										input(type="checkbox", required="").checkbox-static--input
										p.checkbox-static--text I agree with the 
											a(href="terms-conditions.html") terms and conditions
								button.popup-button.button Add £200.00 to my account