extends layout.pug

block variable
	-var user = true
	-var titleName = Withdraw
	-var title = "Bank Accounts & Cards"
	-var menuChecked = "Deposit"

block header-login

	include include/header

block prepend main
	+b.MAIN.section-main
		section.black-main
			.left-sidebar
				include include/menu/account-menu
			.main-container
				.heading--main-container
					h1.black-main--head= title

				include include/menu/mobile-menu
				
				.credit-card--edit-wrapper

					.credit-card--edit
						.payment-card
							.payment-card--card
								img(src="img/credit-card--mc.svg", alt="")
								.payment-card--info
									p *4242
									span Credit Card
							.payment-card--button
								a(href="#edit-payment" data-mobilelink="mobile--edit-payment.html").popup.button.button-gray.link-data Edit
								a(href="#delete-payments").popup.button.button-black Delete

					.credit-card--edit
						.payment-card
							.payment-card--card
								img(src="img/credit-card--visa.svg", alt="")
								.payment-card--info
									p *4242
									span Credit Card
							.payment-card--button
								a(href="#edit-payment" data-mobilelink="mobile--edit-payment.html").popup.button.button-gray.link-data Edit
								a(href="#delete-payments").popup.button.button-black Delete

					.credit-card--edit
						.payment-card
							.payment-card--card
								img(src="img/credit-card--paypal.svg", alt="")
								.payment-card--info
									p *4242
									span Credit Card
							.payment-card--button
								a(href="#edit-payment" data-mobilelink="mobile--edit-payment.html").popup.button.button-gray.link-data Edit
								a(href="#delete-payments").popup.button.button-black Delete

				.add-card
					a(href="#new-payment" data-mobilelink="mobile--new-payment.html").popup.popup-button.button.link-data Add New Payment Method


				.credit-card--drop
					span.arrow-default
					.head--credit-card.close-status
						.credit-card--name
							p Payment Method
						.payment-card
							img(src="img/credit-card--mc.svg", alt="")
							.payment-card--info
								p *4242
								span Credit Card
