extends layout.pug

block variable
	-var user = true
	-var titleName = Help
	-var title = "Help"

block header-login

	include include/header

block prepend main
	+b.MAIN.section-main
		section.black-main
			.help-page
				h1.black-main--head Help
				.height-50
				.search-help
					form
						.form--search-help
							input(placeholder="What can we help you with?").search-help.blur-input
							button.search-submit
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><g><g><path d="M2.018 6.016a3.999 3.999 0 1 1 7.997 0 3.999 3.999 0 0 1-7.997 0zm8.87 3.457a5.998 5.998 0 1 0-1.414 1.414l4.964 4.966a.5.5 0 0 0 .708 0l.707-.707a.5.5 0 0 0 0-.708z"/></g></g></svg>
							span.cancel-default
								<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14"><g><g><path fill="#6f6e70" d="M4.525 3.818a.5.5 0 0 1 .707 0L7 5.586l1.768-1.768a.5.5 0 0 1 .707 0l.707.707a.5.5 0 0 1 0 .707L8.414 7l1.768 1.768a.5.5 0 0 1 0 .707l-.707.707a.5.5 0 0 1-.707 0L7 8.414l-1.768 1.768a.5.5 0 0 1-.707 0l-.707-.707a.5.5 0 0 1 0-.707L5.586 7 3.818 5.232a.5.5 0 0 1 0-.707zM7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14z"/></g></g></svg>
						
						.search-help--result
							.result-def--item
								a(href="#").result-name What can I bet on/play?
								p.result-desc Access to exclusive points and bonus bet offers from 
									span Betcloob
							.result-def--item
								a(href="#").result-name How do I place a bet on 
									span betcloob
									| ?
								p.result-desc Access to exclusive points and bonus bet offers from 
									span Betcloob 
									| and bonus bet offers and other…
							.result-def--item
								a(href="#").result-name How do I withdraw my winnings?
								p.result-desc Access to exclusive points and bonus bet offers from 
									span Betcloob 
							.result-def--item
								a(href="#").result-name How do I place a bet on 
									span betcloob
									| ?
								p.result-desc Access to exclusive points and bonus bet offers from 
									span Betcloob