extends layout.pug

block variable
	-var user = true
	-var titleName = History
	-var title = "Popup view"
	-var menuChecked = "Popup view"

block header-login

	include include/header

block prepend main
	+b.MAIN.section-main
		section.black-main
			.left-sidebar
				include include/menu/account-menu
			.main-container
				.heading--main-container
					h1.black-main--head= title
				.black-main--wrap
					ul.default-list.link-popup
						li
							a(href="#popup-login").popup Login
						li
							a(href="#reset-password").popup Reset Password
						li
							a(href="#name-email").popup Forgot username or email?
						li
							a(href="#forgot-password").popup Forgot password?
						li
							a(href="#popup-send").popup Message Sent
						li
							a(href="#popup-pass-reset").popup Password Reset
						li
							a(href="#popup-pass-success").popup Password Successfully Message
						li
							a(href="#popup-payment-success").popup Payment Successfully Message
						li
							a(href="#popup--withdraw-cancel").popup Withdraw Cancel
						li
							a(href="#popup--withdraw-success").popup Withdraw Successfully
						li
							a(href="#popup-reciept").popup Withdraw Reciept
						li
							a(href="#edit-payment").popup Edit Payment Method

					br
					br

					h3 Registration
					ul.default-list.link-popup
						li
							a(href="#registration-step").popup Registration
						li
							a(href="#new-password").popup Change Email
						li
							a(href="#new-password--phone").popup Change Email (Phone)
						li
							a(href="#verificat-code").popup Verification Code
						li
							a(href="#verification-emeil--you").popup Verify Your Email Address

					br
					br

					h3 My Account
					ul.default-list.link-popup
						li
							a(href="#edit-profile").popup Edit User Info

					br
					br

					h3 Link Page
					ul.default-list.link-popup
						li
							a(href="help-result.html") Help Search Resulp
						li
							a(href="login-problems.html") Login Problems

					br
					br
					h3 Popup Guest
					ul.default-list.link-popup
						li
							a(href="#send-guest").popup Message Sent
						li
							a(href="#contact-guest").popup Contact Us
						li
							a(href="#new-ticket").popup New Ticket
						li
							a(href="#ticket-cancel").popup Ticket Cancel
						li
							a(href="#create-ticket").popup Create Ticket
						li
							a(href="#ticket-success").popup Ticket successfully

					br
					br
					h3 Link Head menu
					ul.default-list.link-popup
						li
							a(href="contact-tikets.html") Contact Us
						li
							a(href="contact-tikets-closed.html") Contact Us (Ticket Close)
						li
							a(href="contact-tikets-active.html") Contact Us (Ticket Active)