extends layout.pug

block variable
	-var user = true
	-var title = "User"

block prepend header-default
	- var selected = 'index'
	include include/header

block prepend main
	//- include include/motion-capture