.button
	display inline-block
	min-width 74px
	height 32px
	padding-top 7px
	padding-bottom 7px
	text-align center
	c cWhite
	ffa(fSB)
	font-size 14px
	ls(-0.1px)
	text-decoration none
	cursor pointer
	background: cBlackD
	border-radius 6px
	trn(.25s)
	&:hover
		background: cGraySearch
	&.gray-color
		background: cGrayL
		&:hover
			background: #ccc
	@media screen and (max-width: 600px)
		font-size 12px

.popup-button
	width 100%
	height 56px
	font-size 16px
	background: cYellow
	c cBlackL
	&:hover
		background cYellowL
	&.attach-file
		position relative
		background: cGrayL
		&:hover
			background: #ccc
		.pluss-icon
			position absolute
			left 24px
			top 22px

.send-button
	height 56px
	font-size 16px
	c cBlackL
	padding 20px 32px
	background: cYellow
	&:hover
		background: cYellowL

.button-gray
	min-width auto
	padding-left 11px
	padding-right 11px
	background: cGrayL
	c cBlackL
	&:hover
		background: cGrayL
		c cWhite

.button-black
	min-width auto
	padding-left 11px
	padding-right 11px
	background: cBlackL
	c cGrayL
	&:hover
		background: cBlackL
		c cWhite

.filter-button
	background: cGrayL
	c cBlackL
	padding 16px 24px 15px
	height auto
	&:hover
		background: cGrayL
		c cWhite
	.filter-button__count
		margin-left 10px
		background: cBlackL
		display inline-block
		min-width 16px
		height 16px
		line-height 16px
		font-size 11px
		c cGrayL
		brr(6px)

.cancel-button
	min-width 146px
	height 56px
	font-size 16px
	padding 20px 20px
	background: cYellow
	c cBlackL
	&:hover
		background cYellowL

// Small Button

.small-button
	height 24px
	padding 5px
	font-size 11px
	&.button-rejected
		c #ff3b30
		background: #3a1f1e
	&.button-verified
		c cBlackL
		background: cYellow
	&.button-pending
		background: cBlackL
		c cYellow