extends layout.pug

block variable
	-var user = true
	-var titleName = Help
	-var title = "Account being used on another device"

block header-login

	include include/header

block prepend main
	+b.MAIN.section-main
		section.black-main--default.contact-tickets.new-tickets

			.active-tiket

				.top-line--tiket
					a(href="contact-tikets.html").link-back.text-back
						span Back
					a(href="#").button.button-close Close Ticket

				.status-ticket--wrapper
					span.status-ticket Active Ticket
					span.status-ticket--date Oct 13 at 10:18 AM

				h1.black-main--head= title

				.reply-wrapper
					p.reply-names Reply
					.reply-message--send
						form
							.reply-message__content
								textarea()
									| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ultrices blandit ex a dignissim. Morbi molestie, mauris at sagittis tempor, justo sapien fermentum purus, a pharetra tellus ante quis nisl. Aenean volutpat metus libero, vitae vestibulum risus consequat at. Nunc eget nisl nec ligula lobortis eleifend faucibus ac diam. Etiam hendrerit feugiat leo, id efficitur ipsum ornare a. Vestibulum a purus a sapien condimentum consectetur. Nam luctus aliquam nunc, ac tempus magna vestibulum ac. Nullam interdum dolor at ante interdum, quis luctus purus efficitur. Mauris vulputate dui et rutrum interdum. Nam quis ante a est pulvinar consectetur in faucibus felis. Nunc diam nisi, dictum eget risus quis, lacinia ullamcorper mauris. Cras dolor libero, maximus aliquet ipsum eget, laoreet placerat justo.
								.upload-file--send
									.upload-file.is-message
										.upload-file--name
											div
												img(src="img/file-icon.svg", alt="")
												p Uploading file.png
											button.delete-file
												<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14"><g><g><path d="M4.525 3.818a.5.5 0 0 1 .707 0L7 5.586l1.768-1.768a.5.5 0 0 1 .707 0l.707.707a.5.5 0 0 1 0 .707L8.414 7l1.768 1.768a.5.5 0 0 1 0 .707l-.707.707a.5.5 0 0 1-.707 0L7 8.414l-1.768 1.768a.5.5 0 0 1-.707 0l-.707-.707a.5.5 0 0 1 0-.707L5.586 7 3.818 5.232a.5.5 0 0 1 0-.707zM7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14z"/></g></g></svg>
										.load-progress
											span(style="width:30%;")

									.upload-file.is-message
										.upload-file--name
											div
												img(src="img/file-icon.svg", alt="")
												p File.png
											button.delete-file
												<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14"><g><g><path d="M4.525 3.818a.5.5 0 0 1 .707 0L7 5.586l1.768-1.768a.5.5 0 0 1 .707 0l.707.707a.5.5 0 0 1 0 .707L8.414 7l1.768 1.768a.5.5 0 0 1 0 .707l-.707.707a.5.5 0 0 1-.707 0L7 8.414l-1.768 1.768a.5.5 0 0 1-.707 0l-.707-.707a.5.5 0 0 1 0-.707L5.586 7 3.818 5.232a.5.5 0 0 1 0-.707zM7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14z"/></g></g></svg>

							.reply-form--send
								button.button-reply Send
								.file-input-wrapper.upload-file--form
									label(for="upload-file")
										<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 12 12"><g><g><path d="M0 5.5A.5.5 0 0 1 .5 5H5V.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5V5h4.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H7v4.5a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5V7H.5a.5.5 0 0 1-.5-.5z"/></g></g></svg>
										| Attach a File
									input(id="upload-file" type="file" name="image")

				.tickets-chat
					a(href="#").button.small-button.button-pending.new-tiket New Ticket
					.tickets-chat--head
						.icon-user
							img(src="img/betcloob-user.svg", alt="User")
						.message-tiket
							p Betcloob Support
							span.message-date Oct 13 at 10:18 AM
					.tickets-chat--message
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ultrices blandit ex a dignissim. Morbi molestie, mauris at sagittis tempor, justo sapien fermentum purus, a pharetra tellus ante quis nisl. Aenean volutpat metus libero, vitae vestibulum risus consequat at. Nunc eget nisl nec ligula lobortis eleifend faucibus ac diam. Etiam hendrerit feugiat leo, id efficitur ipsum ornare a. Vestibulum a purus a sapien condimentum consectetur. Nam luctus aliquam nunc, ac tempus magna vestibulum ac. Nullam interdum dolor at ante interdum, quis luctus purus efficitur. Mauris vulputate dui et rutrum interdum. Nam quis ante a est pulvinar consectetur in faucibus felis. Nunc diam nisi, dictum eget risus quis, lacinia ullamcorper mauris. Cras dolor libero, maximus aliquet ipsum eget, laoreet placerat justo.

				.tickets-chat
					.tickets-chat--head
						.icon-user
							img(src="img/user.svg", alt="User")
						.message-tiket
							p John Doe
							span.message-date Oct 13 at 10:18 AM
					.tickets-chat--message
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ultrices blandit ex a dignissim. Morbi molestie, mauris at sagittis tempor, justo sapien fermentum purus, a pharetra tellus ante quis nisl. Aenean volutpat metus libero, vitae vestibulum risus consequat at. Nunc eget nisl nec ligula lobortis eleifend faucibus ac diam. Etiam hendrerit feugiat leo, id efficitur ipsum ornare a. Vestibulum a purus a sapien condimentum consectetur. Nam luctus aliquam nunc, ac tempus magna vestibulum ac. Nullam interdum dolor at ante interdum, quis luctus purus efficitur. Mauris vulputate dui et rutrum interdum. Nam quis ante a est pulvinar consectetur in faucibus felis. Nunc diam nisi, dictum eget risus quis, lacinia ullamcorper mauris. Cras dolor libero, maximus aliquet ipsum eget, laoreet placerat justo.

					.file-message
						a(href="#").file-load
							img(src="img/file-icon.svg", alt="")
							p File.png
						a(href="#").file-load
							img(src="img/file-icon.svg", alt="")
							p File.png

				.tickets-chat
					.tickets-chat--head
						.icon-user
							img(src="img/betcloob-user.svg", alt="User")
						.message-tiket
							p Betcloob Support
							span.message-date Oct 13 at 10:18 AM
					.tickets-chat--message
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ultrices blandit ex a dignissim. Morbi molestie, mauris at sagittis tempor, justo sapien fermentum purus, a pharetra tellus ante quis nisl. Aenean volutpat metus libero, vitae vestibulum risus consequat at. Nunc eget nisl nec ligula lobortis eleifend faucibus ac diam. Etiam hendrerit feugiat leo, id efficitur ipsum ornare a. Vestibulum a purus a sapien condimentum consectetur. Nam luctus aliquam nunc, ac tempus magna vestibulum ac. Nullam interdum dolor at ante interdum, quis luctus purus efficitur. Mauris vulputate dui et rutrum interdum. Nam quis ante a est pulvinar consectetur in faucibus felis. Nunc diam nisi, dictum eget risus quis, lacinia ullamcorper mauris. Cras dolor libero, maximus aliquet ipsum eget, laoreet placerat justo.

				.tickets-chat
					.tickets-chat--head
						.icon-user
							img(src="img/user.svg", alt="User")
						.message-tiket
							p John Doe
							span.message-date Oct 13 at 10:18 AM
					.tickets-chat--message
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ultrices blandit ex a dignissim. Morbi molestie, mauris at sagittis tempor, justo sapien fermentum purus, a pharetra tellus ante quis nisl. Aenean volutpat metus libero, vitae vestibulum risus consequat at. Nunc eget nisl nec ligula lobortis eleifend faucibus ac diam. Etiam hendrerit feugiat leo, id efficitur ipsum ornare a. Vestibulum a purus a sapien condimentum consectetur. Nam luctus aliquam nunc, ac tempus magna vestibulum ac. Nullam interdum dolor at ante interdum, quis luctus purus efficitur. Mauris vulputate dui et rutrum interdum. Nam quis ante a est pulvinar consectetur in faucibus felis. Nunc diam nisi, dictum eget risus quis, lacinia ullamcorper mauris. Cras dolor libero, maximus aliquet ipsum eget, laoreet placerat justo.

					.file-message
						a(href="#").file-load
							img(src="img/file-icon.svg", alt="")
							p File.png
						a(href="#").file-load
							img(src="img/file-icon.svg", alt="")
							p File.png

				.new-ticket--fixed
					a(href="#ticket-cancel").popup.button.closed-mobile Close Ticket