extends layout.pug

block variable
	-var user = true
	-var titleName = Withdraw
	-var title = "Bank Accounts & Cards"
	-var menuChecked = "Deposit"

block header-login

	include include/header

block prepend main
	+b.MAIN.section-main
		section.black-main
			.left-sidebar
				include include/menu/account-menu
			.main-container
				.heading--main-container
					h1.black-main--head Deposit

				include include/menu/mobile-menu
				
				.credit-card--edit-wrapper

					.credit-card--edit
						.payment-card
							.payment-card--card
								img(src="img/credit-card--mc.svg", alt="")
								.payment-card--info
									p *4242
									span Credit Card
							.payment-card--button
								a(href="#edit-payment" data-mobilelink="mobile--edit-payment.html").popup.button.button-gray.link-data Edit
								a(href="#delete-payments").popup.button.button-black Delete

					.credit-card--edit
						.payment-card
							.payment-card--card
								img(src="img/credit-card--visa.svg", alt="")
								.payment-card--info
									p *4242
									span Credit Card
							.payment-card--button
								a(href="#edit-payment" data-mobilelink="mobile--edit-payment.html").popup.button.button-gray.link-data Edit
								a(href="#delete-payments").popup.button.button-black Delete

					.credit-card--edit
						.payment-card
							.payment-card--card
								img(src="img/credit-card--paypal.svg", alt="")
								.payment-card--info
									p *4242
									span Credit Card
							.payment-card--button
								a(href="#edit-payment" data-mobilelink="mobile--edit-payment.html").popup.button.button-gray.link-data Edit
								a(href="#delete-payments").popup.button.button-black Delete

				.add-card
					a(href="#new-payment" data-mobilelink="mobile--new-payment.html").popup.popup-button.button.link-data Add New Payment Method


				.credit-card--drop
					span.arrow-default
					.head--credit-card.close-status
						.credit-card--name
							p Payment Method
						.payment-card
							img(src="img/credit-card--mc.svg", alt="")
							.payment-card--info
								p *4242
								span Credit Card

						.add-new--payment
							a(href="#").add-payment--items
								span.arrow-default
								.payment-card
									img(src="img/credit-card--mc.svg", alt="")
									.payment-card--info
										p *4242
										span Credit Card
							a(href="#").add-payment--items
								span.arrow-default
								.payment-card
									img(src="img/credit-card--visa.svg", alt="")
									.payment-card--info
										p *4242
										span Credit Card
							a(href="#").add-payment--items
								span.arrow-default
								.payment-card
									img(src="img/credit-card--paypal.svg", alt="")
									.payment-card--info
										p *4242
										span Credit Card
							a(href="#").add-payment--items
								span.arrow-default
								.payment-card
									img(src="img/credit-card--ame.svg", alt="")
									.payment-card--info
										p *4242
										span Credit Card
							a(href="#").add--payments-method
								<svg xmlns="http://www.w3.org/2000/svg" class="pluss-icon" width="12" height="12" viewBox="0 0 12 12"><g><g><path d="M0 5.5A.5.5 0 0 1 .5 5H5V.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5V5h4.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H7v4.5a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5V7H.5a.5.5 0 0 1-.5-.5z"/></g></g></svg>
								| Add New Payment Method
