extends layout.pug

block variable
	-var login = true
	-var title = "BetCloob"

block prepend header-default
	- var selected = 'index'
	include include/header

block prepend main
	//- include include/motion-capture