extends layout.pug

block variable
	-var login = true
	-var title = "Login"

block header-login

	include include/header

block prepend main
	+b.MAIN.section-main
		.container
			h3.heading-default.text-center Open popup window

			ul.default-list.link-popup
				li
					a(href="#popup-login").popup Login
				li
					a(href="#reset-password").popup Reset Password
				li
					a(href="#name-email").popup Forgot username or email?
				li
					a(href="#forgot-password").popup Forgot password?
				li
					a(href="#popup-send").popup Message Sent Message
				li
					a(href="#popup-pass-reset").popup Password Reset Message
				li
					a(href="#popup-pass-success").popup Password Successfully Message

				select.select-phone.select-black
					option(value="") +1
					option(value="") +2
					option(value="") +44
					option(value="") +33

				label.checkbox-static
					input(type="checkbox", required="").checkbox-static--input
					p.checkbox-static--text Remember Me