extends layout.pug

block variable
	-var login = true
	-var title = "Login"

block header-login

	include include/header

block prepend main
	+b.MAIN.section-main
		.container
			h3.heading-default.text-center Open popup window

			ul.default-list.link-popup
				li
					a(href="#popup-login").popup Login
				li
					a(href="#reset-password").popup Reset Password
				li
					a(href="#name-email").popup Forgot username or email?
				li
					a(href="#forgot-password").popup Forgot password?
				li
					a(href="#popup-send").popup Message Sent Message
				li
					a(href="#popup-pass-reset").popup Password Reset Message
				li
					a(href="#popup-pass-success").popup Password Successfully Message

				select.select-phone.select-black
					option(value="") +1
					option(value="") +2
					option(value="") +44
					option(value="") +33

			.hidden

				//- Password has been changed successfully
				.popup-default.popup-send.zoom-anim-dialog#popup-pass-success
					h3.heading-default.text-center Password has been changed successfully
					.wrap--send-button.text-center
						a(href="#").button.send-button Get Started

				//- Password reset link has been sent to your email
				.popup-default.popup-pass-reset.zoom-anim-dialog#popup-pass-reset
					h3.heading-default.text-center Password reset link has been sent to your email
					p.popup--text-info
						|  We’ve sent a password reset link to 
						a(href="#") example@email.com
					.wrap--send-button.text-center
						a(href="#").button.send-button Proceed to Login

				//- Message Sent
				.popup-default.popup-send.zoom-anim-dialog#popup-send
					h3.heading-default.text-center Message Sent
					.wrap--send-button.text-center
						a(href="#").button.send-button Proceed to Login

				//- Reset Password
				.popup-default.reset-password.zoom-anim-dialog#reset-password
					h3.heading-popup Reset Password
					form
						.item--input-label
							.item--label
								label(for="reset-pass") Reset Password
							.item--input
								input(id="reset-pass")
						.item--input-label
							.item--label
								label(for="confirm-pass") Confirm New Password
							.item--input
								input(id="confirm-pass")
						.item--input-label
							.item--label
								label(for="enter-pass") Enter Code
							.captcha--wrapper
								.items--captcha-popup
									input(type="text", id="enter-pass").input-black
								.captcha-main
									img(src="img/captcha.jpg", alt="")
						.item--input-label
							button.popup-button.button Save New Password

				//- Login
				.popup-default.popup-login.zoom-anim-dialog#popup-login
					h3.heading-popup Login
					form
						.item--input-label
							.item--label
								label(for="login-user") Email or Username
								a(href="#") Forgot?
							.item--input
								input(id="login-user")
						.item--input-label
							.item--label
								label(for="login-password") Password
								a(href="#") Forgot?
							.item--input
								input(id="login-password")
						.item--input-label
							label.checkbox-static
								input(type="checkbox", required="").checkbox-static--input
								p.checkbox-static--text Remember Me
						.item--input-label
							button.popup-button.button Login
						.text-center
							a(href="#").dont-account Don’t have an account?

				//- Forgot username or email?
				.popup-default.name-email.default-offset.zoom-anim-dialog#name-email
					.top-wrap--popup
						a(href="#").link-back
					h3.heading-popup Forgot username or email?
					.height-36
					form
						.item--input-label
							.item--label
								label(for="phone-number") Phone Number
							.item--input.phone-checked
								select.select-phone.select-black
									option(value="") +1
									option(value="") +2
									option(value="") +44
									option(value="") +33
								input(id="phone-number")
						.item--input-label
							.item--label
								label(for="enter-pass") Enter Code
							.captcha--wrapper
								.items--captcha-popup
									input(type="text", id="enter-pass").input-black
								.captcha-main
									img(src="img/captcha.jpg", alt="")
						.item--input-label
							button.popup-button.button Continue
						p.popup-text--gray Enter your mobile phone number and we will send you username and 
							br
							| email related to your account

				//- Forgot password?
				.popup-default.forgot-password.default-offset.zoom-anim-dialog#forgot-password
					.top-wrap--popup
						a(href="#").link-back
					h3.heading-popup Forgot password?
					.height-36
					form
						.item--input-label
							.item--label
								label(for="email-forgot") Email
							.item--input
								input(id="email-forgot")
						.item--input-label
							.item--label
								label(for="enter-pass") Enter Code
							.captcha--wrapper
								.items--captcha-popup
									input(type="text", id="enter-pass").input-black
								.captcha-main
									img(src="img/captcha.jpg", alt="")
						.item--input-label
							button.popup-button.button Reset Password
						p.popup-text--gray.text-center Enter your email and we will send you password reset link