extends layout.pug

block variable
	-var login = true
	-var titleName = Login
	-var title = "Login"

block header-login

	include include/header

block prepend main
	+b.MAIN.section-main
		section.mobile-page
			a(href="myaccount.html").link-back
			h3.heading-popup Change Password
			.height-36
			form
				.item--input-label
					.item--label
						label(for="account-pass") Password
					.item--input
						input(id="account-pass")
				.item--input-label
					.item--label
						label(for="account-new-pass") New Password
					.item--input
						input(id="account-new-pass")
				.item--input-label
					.item--label
						label(for="account-confirm-pass") Confirm New Password
					.item--input
						input(id="account-confirm-pass")
				.item--input-label
					a(href="#change-pass-successfully").popup.popup-button.button Change Password