extends layout.pug

block variable
	-var login = true
	-var titleName = Login
	-var title = "Login"

block header-login

	include include/header

block prepend main
	+b.MAIN.section-main
		section.mobile-page
			a(href="mobile--myaccoun-change-phone.html").link-back
			h3.heading-popup Change Phone
			.height-36
			form
				.item--input-label
					.item--label
						label(for="phone-number") Phone Number
					.item--input.phone-checked
						select.select-phone.select-black
							option(value="") +1
							option(value="") +2
							option(value="" selected) +44
							option(value="") +33
						input(id="phone-number")
				.item--input-label
					a(href="mobile--myaccoun-change-phone-code.html").popup-button.button Continue
				p.popup-text--gray.text-center.mobile-text--bottom
					| Enter your mobile phone number and we 
					br
					| will send you a verification code