extends layout.pug

block variable
	-var user = true
	-var titleName = History
	-var title = "Transaction History"
	-var menuChecked = "Transaction History"

block header-login

	include include/header

block prepend main
	+b.MAIN.section-main
		section.black-main
			.left-sidebar
				include include/menu/account-menu
			.main-container
				.heading--main-container
					h1.black-main--head= title
					.filter-button--wrapper#filter-button--wrapper
						button.button.filter-button#filter-open Filter
							span.filter-button__count 2
						.filter-hidden
							form(action="")
								.filter-hidden--items
									p.status-filter Type
									.checkout-status
										.checkout-status--items
											label.checkbox-static
												input(type="checkbox", required="").checkbox-static--input
												p.checkbox-static--text Deposit
										.checkout-status--items
											label.checkbox-static
												input(type="checkbox", checked, required="").checkbox-static--input
												p.checkbox-static--text Withdraw

								.filter-hidden--items
									.filter-date
										.filter-date--items
											.item--label
												label(for="start-date").default-label Start Date
											.item--input
												input(id="start-date", type="text").filter-date.datapicker.input-black
										.filter-date--items
											.item--label
												label(for="end-date").default-label End Date
											.item--input
												input(id="end-date", type="text").filter-date.datapicker.input-black

								.filter-hidden--items
									.filter-buttons
										button.button.send-button Apply Filters
										button.reset Reset Filters
					
				.table-history--wrapper
					table.table-history
						thead
							th(width="90") Product
							th(width="92") Type
							th(width="116") Date & Time
							th(width="96") Amount
							th(width="110") Status
							th Comment
						tbody
							tr
								td Sport
								td Deposit
								td 11-03-2019
									br
									| 20:54
								td £200.00
								td Processed
								td Comment 
									br
									| text 
									br
									| goes here
							tr
								td Sport
								td Deposit
								td 11-03-2019
									br
									| 20:54
								td £200.00
								td Processed
								td Comment text goes here
							tr
								td Sport
								td Deposit
								td 11-03-2019
									br
									| 20:54
								td £200.00
								td Processed
								td Comment text goes here
							tr
								td Sport
								td Deposit
								td 11-03-2019
									br
									| 20:54
								td £200.00
								td Processed
								td Comment text goes here
							tr
								td Sport
								td Deposit
								td 11-03-2019
									br
									| 20:54
								td £200.00
								td Processed
								td Comment text goes here