extends layout.pug

block title
	| BetCloob

block variable
	-var user = true

block prepend header-default
	- var selected = 'index'
	include include/header

block prepend main
	//- include include/motion-capture