extends layout.pug

block variable
	-var user = true
	-var titleName = Withdraw
	-var title = "Bank Accounts & Cards"
	-var menuChecked = "Withdraw"

block header-login

	include include/header

block prepend main
	+b.MAIN.section-main
		section.black-main
			.left-sidebar
				include include/menu/account-menu
			.main-container
				h1.black-main--head Withdraw
				.credit-card--edit-wrapper

					.credit-card--edit
						.payment-card
							.payment-card--card
								img(src="img/credit-card--mc.svg", alt="")
								.payment-card--info
									p *4242
									span Credit Card
							.payment-card--button
								button.button.button-gray Edit
								button.button.button-black Delete

					.credit-card--edit
						.payment-card
							.payment-card--card
								img(src="img/credit-card--visa.svg", alt="")
								.payment-card--info
									p *4242
									span Credit Card
							.payment-card--button
								button.button.button-gray Edit
								button.button.button-black Delete

					.credit-card--edit
						.payment-card
							.payment-card--card
								img(src="img/credit-card--paypal.svg", alt="")
								.payment-card--info
									p *4242
									span Credit Card
							.payment-card--button
								button.button.button-gray Edit
								button.button.button-black Delete

				.add-card
					button.popup-button.button Add New Payment Method


				.credit-card--drop
					span.arrow-default
					.head--credit-card
						.credit-card--name
							p Payment Method
						.payment-card
							img(src="img/credit-card--mc.svg", alt="")
							.payment-card--info
								p *4242
								span Credit Card
					.main--credit-card
						p.form-withdraw--name Amount you want to withdraw
						form
							.form-withdraw--fill
								span.icon-many £
								input(value="200").input-black.text-center
							p.form-withdraw--desc.text-center If you continue with this withdraw ,any active bonus codes will be cancelled, and any
								br
								| locked bonus funds (bonuses will remaining playthrough) will be forfeited along with any 
								br
								| winnings made from them. Do you wish to continue?
							button.popup-button.button Withdraw £200.00