.hidden

	//- Withdraw Reciept
	.popup-default.popup-reciept.default-offset.zoom-anim-dialog#popup-reciept
		h3.heading-default=title 
			|  Reciept
		.height-36
		.wrapper--reciept-info
			p.reciept-info Payment Method
				span Credit Card
			p.reciept-info First and Last Name
				span John Doe
			p.reciept-info Date
				span 2019-03-11 21:54:44
			p.reciept-info Status
				span Accepted
			p.reciept-info Amount
				span £200.00 
			p.reciept-info Transaction number
				span BETSTRSMOB1234234234
	
	//- Withdraw Successfully
	.popup-default.popup--withdraw-success.default-offset.zoom-anim-dialog#popup--withdraw-success
		.height-36
		h3.heading-default.text-center 
			| The withdrawal has been 
			br
			| successfully cancelled
		.wrap--send-button.text-center
			a(href="#").button.send-button Got It

	//- Are you sure you want to cancel this withdraw?
	.popup-default.popup--withdraw-cancel.default-offset.zoom-anim-dialog#popup--withdraw-cancel
		.height-36
		h3.heading-default.text-center 
			| Are you sure you want
			br
			| to cancel this withdraw?
		.wrap--send-button.text-center
			a(href="#").button.cancel-button Yes,Cancel
			a(href="#").button.cancel-button.gray-color No

	//- Delete Payment method
	.popup-default.popup--withdraw-cancel.default-offset.zoom-anim-dialog.message-status#delete-payments
		.height-36
		h3.heading-default.text-center 
			| Are you sure you want 
			br
			| to delete this payment method?
		.wrap--send-button.text-center
			a(href="deposit-bank.html").button.cancel-button Yes, Delete
			a(href="deposit-bank.html").button.cancel-button.gray-color No

	//- Password has been changed successfully
	.popup-default.popup-send.zoom-anim-dialog#popup-pass-success
		h3.heading-default.text-center Password has been changed successfully
		.wrap--send-button.text-center
			a(href="#").button.send-button Get Started

	//- New payment method has been successfully added
	.popup-default.popup-send.zoom-anim-dialog.message-status#popup-payment-success
		h3.heading-default.text-center New payment method has been successfully added
		.wrap--send-button.text-center
			a(href="#").button.send-button Continue

	//- Password reset link has been sent to your email
	.popup-default.popup-pass-reset.zoom-anim-dialog.message-status#popup-pass-reset
		h3.heading-default.text-center Password reset link has been sent to your email
		p.popup--text-info
			|  We’ve sent a password reset link to 
			a(href="#") example@email.com
		.wrap--send-button.text-center
			a(href="#").button.send-button Proceed to Login

	//- Message Sent
	.popup-default.popup-send.zoom-anim-dialog.message-status#popup-send
		h3.heading-default.text-center Message Sent
		.wrap--send-button.text-center
			a(href="mobile--login.html").button.send-button Proceed to Login

	//- Reset Password
	.popup-default.reset-password.zoom-anim-dialog#reset-password
		h3.heading-popup Reset Password
		form
			.item--input-label
				.item--label
					label(for="reset-pass") Reset Password
				.item--input
					input(id="reset-pass")
			.item--input-label
				.item--label
					label(for="confirm-pass") Confirm New Password
				.item--input
					input(id="confirm-pass")
			.item--input-label
				.item--label
					label(for="enter-pass") Enter Code
				.captcha--wrapper
					.items--captcha-popup
						input(type="text", id="enter-pass").input-black
					.captcha-main
						img(src="img/captcha.jpg", alt="")
			.item--input-label
				button.popup-button.button Save New Password

	//- Registration
	.popup-default.registration-step.default-offset.zoom-anim-dialog#registration-step1
		.top-wrap--popup
			a(href="#").link-back
		h3.heading-popup Registration
			snan.step-count Step 
				span.cont-num 1 
				| of 3
		.height-36
		form
			.step-popup.registration-steps.step1
				.item--input-label
					.item--label
						label(for="phone-number") Phone Number
					.item--input.phone-checked
						select.select-phone.select-black
							option(value="") +1
							option(value="") +2
							option(value="") +44
							option(value="") +33
						input(id="phone-number")
				.item--input-label
					a(href="#registration-step2").popup.popup-button.button Continue
				p.popup-text--gray.text-center Enter your mobile phone number and we will send you a verification code
				.link--popup-default.text-center
					a(href="#").default-link Already have an account?

	.popup-default.registration-step.default-offset.zoom-anim-dialog#registration-step2
		.top-wrap--popup
			a(href="#").link-back
		h3.heading-popup Registration
			snan.step-count Step 
				span.cont-num 2 
				| of 3
		.height-36
		.step-popup.registration-steps.step2
				.item--input-label
					.item--label
						label(for="verification-code") Verification Code
					.item--input
						input(id="verification-code")
				.item--input-label
					a(href="#registration-step-error").popup.popup-button.button Enter Code
				p.popup-text--gray.text-center Enter the 6-digit verification code sent to +44 535 345354342
				.link--popup-default.text-center
					a(href="#").default-link.resend-code Resend Code
					.resend-time wait

	.popup-default.registration-step.default-offset.zoom-anim-dialog#registration-step-error
		.top-wrap--popup
			a(href="#").link-back
		h3.heading-popup Registration
			snan.step-count Step 
				span.cont-num 2 
				| of 3
		.height-36
		.step-popup.registration-steps.step2
				.item--input-label
					.item--label
						label(for="verification-code") Verification Code
					.item--input
						input(id="verification-code").valid-error
						span.error-message Verification code is invalid or expired
				.item--input-label
					a(href="#registration-step3").popup.popup-button.button Enter Code
				p.popup-text--gray.text-center Enter the 6-digit verification code sent to +44 535 345354342
				.link--popup-default.text-center
					a(href="#").default-link.resend-code Resend Code
					.resend-time wait 
						span#time 00:45

	.popup-default.registration-step.default-offset.zoom-anim-dialog#registration-step3
		.top-wrap--popup
			a(href="#").link-back
		h3.heading-popup Registration
			snan.step-count Step 
				span.cont-num 3 
				| of 3
		.height-36
		form
		.step-popup.registration-steps.step3
				.item--input-label
					.item--label
						label(for="registration-email") Email
					.item--input
						input(id="registration-email")
				.item--input-label
					.item--label
						label(for="registration-pass1") Password
					.item--input
						input(id="registration-pass1")
				.item--input-label
					.item--label
						label(for="registration-pass2") Confirm Password
					.item--input
						input(id="registration-pass2")
				.item--input-fifty
					.item--input-label
						.item--label
							label(for="registration-name1") First Name
						.item--input
							input(id="registration-name1")
					.item--input-label
						.item--label
							label(for="registration-name2") Last Name
						.item--input
							input(id="registration-name2")
				.item--input-label
					.item--label
						label(for="registration-user") Username
					.item--input
						input(id="registration-user")
				.item--input-label
					.item--gender
						label Gender
						.payment--select-price.payment--gender
							label.radio--select-price
								input(type="radio" name="radio" required="")
								.text--select-price Male
							label.radio--select-price
								input(type="radio" name="radio" required="")
								.text--select-price Female
				.item--input-label
					.item--label
						label Date of Birth
					.flex--custom-select
						.custom-select.select-bold
							select
								option(value="0") Day
								option(value="1") 1
								option(value="2") 2
								option(value="3") 3
								option(value="4") 4
								option(value="5") 5
								option(value="6") 6
								option(value="7") 7
								option(value="8") 8
								option(value="9") 9
								option(value="10") 10
								option(value="11") 11
								option(value="12") 12
								option(value="13") 13
								option(value="14") 14
								option(value="15") 15
								option(value="16") 16
								option(value="17") 17
								option(value="18") 18
								option(value="19") 19
								option(value="20") 20
								option(value="21") 21
								option(value="22") 22
								option(value="23") 23
								option(value="24") 24
								option(value="25") 25
								option(value="26") 26
								option(value="27") 27
								option(value="28") 28
								option(value="29") 29
								option(value="30") 30
								option(value="31") 31
						.custom-select.select-bold.mounth
							select
								option(value="0") Month
								option(value="1") January
								option(value="2") February
								option(value="3") April
								option(value="4") March
								option(value="5") May
								option(value="6") June
								option(value="7") July
								option(value="8") August
								option(value="9") September
								option(value="10") October
								option(value="11") November
								option(value="12") December
						.custom-select.select-bold
							select
								option(value="0") Year
								option(value="1") 1960
								option(value="2") 1961
								option(value="3") 1962
								option(value="4") 1963
								option(value="5") 1964
				.label-payment--fill
					label.checkbox-static
						input(type="checkbox", required="").checkbox-static--input
						p.checkbox-static--text I agree with the 
							a(href="terms-conditions.html") terms and conditions
				.item--input-label
					a(href="#verification-emeil--you").popup.popup-button.button Finish


	//- Login
	.popup-default.popup-login.zoom-anim-dialog#popup-login
		h3.heading-popup Login
		form
			.item--input-label
				.item--label
					label(for="login-user") Email or Username
					a(href="#") Forgot?
				.item--input
					input(id="login-user")
			.item--input-label
				.item--label
					label(for="login-password") Password
					a(href="#") Forgot?
				.item--input
					input(id="login-password")
			.item--input-label
				label.checkbox-static
					input(type="checkbox", required="").checkbox-static--input
					p.checkbox-static--text Remember Me
			.item--input-label
				a(href="user.html").popup-button.button Login
			.text-center
				a(href="#registration-step1" data-mobilelink="mobile--registration-step1.html").popup.dont-account.link-data Don’t have an account?

	//- Forgot username or email?
	.popup-default.name-email.default-offset.zoom-anim-dialog#name-email
		.top-wrap--popup
			a(href="#").link-back
		h3.heading-popup Forgot username or email?
		.height-36
		form
			.item--input-label
				.item--label
					label(for="phone-number") Phone Number
				.item--input.phone-checked
					select.select-phone.select-black
						option(value="") +1
						option(value="") +2
						option(value="") +44
						option(value="") +33
					input(id="phone-number")
			.item--input-label
				.item--label
					label(for="enter-pass") Enter Code
				.captcha--wrapper
					.items--captcha-popup
						input(type="text", id="enter-pass").input-black
					.captcha-main
						img(src="img/captcha.jpg", alt="")
			.item--input-label
				button.popup-button.button Continue
			p.popup-text--gray Enter your mobile phone number and we will send you username and 
				br
				| email related to your account

	//- Forgot password?
	.popup-default.forgot-password.default-offset.zoom-anim-dialog#forgot-password
		.top-wrap--popup
			a(href="#").link-back
		h3.heading-popup Forgot password?
		.height-36
		form
			.item--input-label
				.item--label
					label(for="email-forgot") Email
				.item--input
					input(id="email-forgot")
			.item--input-label
				.item--label
					label(for="enter-pass") Enter Code
				.captcha--wrapper
					.items--captcha-popup
						input(type="text", id="enter-pass").input-black
					.captcha-main
						img(src="img/captcha.jpg", alt="")
			.item--input-label
				button.popup-button.button Reset Password
			p.popup-text--gray.text-center Enter your email and we will send you password reset link

	//- Edit Payment Method
	.popup-default.edit-payment.default-offset.zoom-anim-dialog#edit-payment
		h3.heading-popup Edit Payment Method
		.height-36
		form
			.item--input-label
				.item--label
					label(for="accoun-name") Account holder name
				.item--input
					input(id="accoun-name")
			.item--input-label
				.item--label
					label(for="edit-card") 16 digit card number
				.item--input
					input(id="edit-card", value="3543 9328 2456 2388", name="credit-number", pattern="\d*", maxlength="19").plch-white.cc-number
			.item--input-label
				.item--label
					label(for="edit-iban") IBAN
				.item--input
					input(id="edit-iban", value="DE89 3704 0044 0532 0130 00").plch-white
			.item--input-label
				button.popup-button.button Save

	//- New Payment Method
	.popup-default.edit-payment.default-offset.zoom-anim-dialog.message-status#new-payment
		h3.heading-popup New Payment Method
		.height-36
		form
			.item--input-label
				.item--label
					label(for="accoun-name") Account holder name
				.item--input
					input(id="accoun-name")
			.item--input-label
				.item--label
					label(for="edit-card") 16 digit card number
				.item--input
					input(id="edit-card", name="credit-number", pattern="\d*", maxlength="19").plch-white.cc-number
			.item--input-label
				.item--label
					label(for="edit-iban") IBAN
				.item--input
					input(id="edit-iban").plch-white
			.item--input-label
				button.popup-button.button Add New Payment Method

	//- Change Email
	.popup-default.new-password.default-offset.zoom-anim-dialog#new-password
		.top-wrap--popup
			a(href="#").link-back
		h3.heading-popup Change Email
		.height-36
		form
			.item--input-label
				.item--label
					label(for="new-email") New Email
				.item--input
					input(id="new-email")
			.item--input-label
				a(href="#new-password--phone").popup.popup-button.button Change Email
			p.popup-text--gray.text-center.mobile-text--bottom Your current email address is 
				br
				a(href="#").link-white example@example.com

	//- Change Email (Phone Number)
	.popup-default.new-password--phone.default-offset.zoom-anim-dialog#new-password--phone
		.top-wrap--popup
			a(href="#").link-back
		h3.heading-popup Change Email
		.height-36
		form
			.item--input-label
				.item--label
					label(for="phone-number") Phone Number
				.item--input.phone-checked
					select.select-phone.select-black
						option(value="") +1
						option(value="") +2
						option(value="") +44
						option(value="") +33
					input(id="phone-number")
			.item--input-label
				a(href="#verificat-code").popup.popup-button.button Continue
			p.popup-text--gray.text-center Enter your mobile phone number and we will send you a verification code

	//- Verification Code

	.popup-default.verificat-code.default-offset.zoom-anim-dialog#verificat-code-phone
		.top-wrap--popup
			a(href="#").link-back
		h3.heading-popup Change Phone
		.height-36
		form
			.item--input-label
				.item--label
					label(for="ver-code") Verification Code
				.item--input
					input(id="ver-code")
			.item--input-label
				a(href="#verificat-code-phone-error").popup.popup-button.button Enter Code
			p.popup-text--gray.text-center Enter the 6-digit verification code sent to +44 535 345354342
			.link--popup-default.resend-wrapper.text-center
				a(href="#").default-link.resend-code Resend Code
				.resend-time wait

	.popup-default.verificat-code.default-offset.zoom-anim-dialog#verificat-code-phone-error
		.top-wrap--popup
			a(href="#").link-back
		h3.heading-popup Change Phone
		.height-36
		form
			.item--input-label
				.item--label
					label(for="ver-code") Verification Code
				.item--input
					input(id="ver-code").valid-error
					span.error-message Verification code is invalid or expired
			.item--input-label
				a(href="#phone-successfully").popup.popup-button.button Enter Code
			p.popup-text--gray.text-center Enter the 6-digit verification code sent to +44 535 345354342
			.link--popup-default.resend-wrapper.text-center
				a(href="#").default-link.resend-code Resend Code
				.resend-time wait 
					span#time 00:45

	.popup-default.verificat-code.default-offset.zoom-anim-dialog#verificat-code-email
		.top-wrap--popup
			a(href="#").link-back
		h3.heading-popup Change Email
		.height-36
		form
			.item--input-label
				.item--label
					label(for="ver-code") Verification Code
				.item--input
					input(id="ver-code")
			.item--input-label
				a(href="#verificat-code-email-error").popup.popup-button.button Enter Code
			p.popup-text--gray.text-center Enter the 6-digit verification code sent to +44 535 345354342
			.link--popup-default.resend-wrapper.text-center
				a(href="#").default-link.resend-code Resend Code
				.resend-time wait

	.popup-default.verificat-code.default-offset.zoom-anim-dialog#verificat-code-email-error
		.top-wrap--popup
			a(href="#").link-back
		h3.heading-popup Change Email
		.height-36
		form
			.item--input-label
				.item--label
					label(for="ver-code") Verification Code
				.item--input
					input(id="ver-code").valid-error
					span.error-message Verification code is invalid or expired
			.item--input-label
				a(href="#verification-emeil--you").popup.popup-button.button Enter Code
			p.popup-text--gray.text-center Enter the 6-digit verification code sent to +44 535 345354342
			.link--popup-default.resend-wrapper.text-center
				a(href="#").default-link.resend-code Resend Code
				.resend-time wait 
					span#time 00:45

	//- Verify Your Email Address
	.popup-default.verification-emeil--you.default-offset.zoom-anim-dialog#verification-emeil--you
		//- a(href="index.html").log-out--popup Log Out
		h3.heading-default.text-center Password reset link has been sent to your email
		p.gray--text-info
			|  We now need to verify your email address. We’ve sent an email to 
			a(href="#") example@email.com 
			| to verify your address. Please click the link in that email to continue.
		.wrap--send-button.text-center
			a(href="#").button.send-button Resend Verification Email
			.wrapper-popup--message.text-center
				span.message-verification New verification email has been sent
		.resend-wrapper.text-center
			a(href="#new-password").popup.default-link.resend-code Change Email Address

	//- Edit User Info
	.popup-default.edit-profile.default-offset.zoom-anim-dialog#edit-profile
		.top-wrap--popup
			a(href="#").link-back
		h3.heading-popup Edit User Info
		.height-36
		.item--input-fifty
			.item--input-label
				.item--label
					label(for="registration-name1") First Name
				.item--input
					input(id="registration-name1" value="John")
			.item--input-label
				.item--label
					label(for="registration-name2") Last Name
				.item--input
					input(id="registration-name2" value="Doe")
		.item--input-label
			.item--label
				label(for="registration-user") Username
			.item--input
				input(id="registration-user" value="johndoe")
		.item--input-label
			.item--gender
				label Gender
				.payment--select-price.payment--gender
					label.radio--select-price
						input(type="radio" name="radio" required="" checked)
						.text--select-price Male
					label.radio--select-price
						input(type="radio" name="radio" required="")
						.text--select-price Female
		.item--input-label
			.item--label
				label Date of Birth
			.flex--custom-select
				.custom-select.is-active.select-bold
					select
						option(value="0") Day
						option(value="1") 1
						option(value="2") 2
						option(value="3") 3
						option(value="4") 4
						option(value="5") 5
						option(value="6") 6
						option(value="7") 7
						option(value="8") 8
						option(value="9") 9
						option(value="10") 10
						option(value="11" selected) 11
						option(value="12") 12
						option(value="13") 13
						option(value="14") 14
						option(value="15") 15
						option(value="16") 16
						option(value="17") 17
						option(value="18") 18
						option(value="19") 19
						option(value="20") 20
						option(value="21") 21
						option(value="22") 22
						option(value="23") 23
						option(value="24") 24
						option(value="25") 25
						option(value="26") 26
						option(value="27") 27
						option(value="28") 28
						option(value="29") 29
						option(value="30") 30
						option(value="31") 31
				.custom-select.is-active.select-bold.mounth
					select
						option(value="0") Month
						option(value="1") January
						option(value="2") February
						option(value="3") April
						option(value="4" selected) March
						option(value="5") May
						option(value="6") June
						option(value="7") July
						option(value="8") August
						option(value="9") September
						option(value="10") October
						option(value="11") November
						option(value="12") December
				.custom-select.is-active.select-bold
					select
						option(value="0") Year
						option(value="1") 1960
						option(value="2") 1961
						option(value="3") 1962
						option(value="4") 1963
						option(value="5" selected) 1989
		.item--input-label
			button.popup-button.button Finish

	//-  Message User Info
	.popup-default.send-guest.default-offset.zoom-anim-dialog.message-status#message--user-info
		h3.heading-default.text-center
			| User info has been 
			br
			| successfully updated
		.wrap--send-button.text-center
			a(href="#").button.send-button Got It


	//- My account //
	//- Change Phone
	.popup-default.new-password.default-offset.zoom-anim-dialog#myaccount--change-phone
		.top-wrap--popup
			a(href="#").link-back
		h3.heading-popup Change Phone
		.height-36
		form
			.item--input-label
				.item--label
					label(for="new-pass") Password
				.item--input
					input(id="new-pass")
			.item--input-label
				a(href="#change-password--phone").popup.popup-button.button Continue
			p.popup-text--gray.text-center
				| Please enter your password to change 
				br
				| phone number

	//- Change Email (Phone Number)
	.popup-default.new-password--phone.default-offset.zoom-anim-dialog#change-password--phone
		.top-wrap--popup
			a(href="#").link-back
		h3.heading-popup Change Phone
		.height-36
		form
			.item--input-label
				.item--label
					label(for="phone-number") Phone Number
				.item--input.phone-checked
					select.select-phone.select-black
						option(value="") +1
						option(value="") +2
						option(value="") +44
						option(value="" selected) +33
					input(id="phone-number")
			.item--input-label
				a(href="#verificat-code-phone").popup.popup-button.button Continue
			p.popup-text--gray.text-center Enter your mobile phone number and we will send you a verification code

	//- Phone Successfully
	.popup-default.popup-send.default-offset.zoom-anim-dialog.message-status#phone-successfully
		h3.heading-default.text-center 
			| Phone number has been 
			br
			| successfully changed
		.wrap--send-button.text-center
			a(href="myaccount.html").button.send-button Got It

	//- Change Email
	.popup-default.new-password.default-offset.zoom-anim-dialog#myaccount--change-mail
		.top-wrap--popup
			a(href="#").link-back
		h3.heading-popup Change Email
		.height-36
		form
			.item--input-label
				.item--label
					label(for="change-email") Password
				.item--input
					input(id="change-email")
			.item--input-label
				a(href="#new-password--email").popup.popup-button.button Continue
			p.popup-text--gray.text-center
				| Please enter your password to change 
				br
				| email address

	.popup-default.new-password.default-offset.zoom-anim-dialog#new-password--email
		h3.heading-popup Change Email
		.height-36
		form
			.item--input-label
				.item--label
					label(for="new-email") New Email
				.item--input
					input(id="new-email")
			.item--input-label
				a(href="#myaccount--change-verify").popup.popup-button.button Change Email

	//- Verify Your Email Address
	.popup-default.verification-emeil--you.default-offset.zoom-anim-dialog.message-status#myaccount--change-verify
		.popup--text-success
			h3.heading-default.text-center
				| To change your email please verify your new email address
			p.gray--text-info
				| We now need to verify your new email address. We’ve sent an email to 
				a(href="#") example@email.com 
				| to verify your address. Please click the link in that email to continue. The current email will not replaced by the new email until verification.
		.wrap--send-button.text-center
			a(href="#myaccount--change-verify-error").popup.button.send-button Resend Verification Email

	//- Verify Your Email Address Error
	.popup-default.verification-emeil--you.default-offset.zoom-anim-dialog.message-status#myaccount--change-verify-error
		.popup--text-success
			h3.heading-default.text-center
				| To change your email please verify your new email address
			p.gray--text-info
				| We now need to verify your new email address. We’ve sent an email to 
				a(href="#") example@email.com 
				| to verify your address. Please click the link in that email to continue. The current email will not replaced by the new email until verification.
		.wrap--send-button.text-center.no-flex--mobile
			a(href="#").button.send-button Resend Verification Email
			.wrapper-popup--message.text-center
				span.message-verification New verification email has been sent

	//- Verify Your Email Address Code
	.popup-default.verification-emeil--you.default-offset.zoom-anim-dialog#myaccount--change-verify-code
		h3.heading-default.text-center
			| To change your email please verify your new email address
		p.gray--text-info
			| We now need to verify your new email address. We’ve sent an email to 
			a(href="#") example@email.com 
			| to verify your address. Please click the link in that email to continue. The current email will not replaced by the new email until verification.
		.wrap--send-button.text-center
			a(href="#").button.send-button Resend Verification Email
			.wrapper-popup--message.text-center
				span.message-verification New verification email has been sent
		.resend-wrapper.text-center
			a(href="#").default-link.resend-code Change Email Address

	//- Change Password
	.popup-default.popup-login.zoom-anim-dialog#myaccount--change-password
		h3.heading-popup Change Password
		form
			.item--input-label
				.item--label
					label(for="account-pass") Password
				.item--input
					input(id="account-pass")
			.item--input-label
				.item--label
					label(for="account-new-pass") New Password
				.item--input
					input(id="account-new-pass")
			.item--input-label
				.item--label
					label(for="account-confirm-pass") Confirm New Password
				.item--input
					input(id="account-confirm-pass")
			.item--input-label
				button.popup-button.button Change Password

	//- Change Password Successfully
	.popup-default.popup-send.default-offset.zoom-anim-dialog.message-status#change-pass-successfully
		h3.heading-default.text-center 
			| Your password has 
			br
			| been successfully changed
		.wrap--send-button.text-center
			a(href="myaccount.html").button.send-button Got It




	//-  Message Sent Guest
	.popup-default.send-guest.default-offset.zoom-anim-dialog#send-guest
		h3.heading-default.text-center Message Sent
		p.popup--text-info
			| We will respond to your email 
			a(href="#") (example@mail.com) 
			br
			| within 24 hours
		.wrap--send-button.text-center
			a(href="#").button.send-button Got It

	//- Contact Us
	.popup-default.contact-guest.default-offset.zoom-anim-dialog#contact-guest
		h3.heading-popup Contact Us
		.height-36
		.item--input-fifty
			.item--input-label
				.item--label
					label(for="registration-name1") First Name
				.item--input
					input(id="registration-name1")
			.item--input-label
				.item--label
					label(for="registration-name2") Last Name
				.item--input
					input(id="registration-name2")
		.item--input-label
			.item--label
				label(for="contact-email") Email
			.item--input
				input(id="contact-email")
		.item--input-label
			.item--label
				label(for="contact-subject") Subject
			.item--input
				input(id="contact-subject")
		.item--input-label.small-offset
			.item--label
				label(for="text-message") Message
			.item--input
				textarea(id="text-message")
		.upload-file--wrapper
			.upload-file
				.upload-file--name
					div
						img(src="img/file-icon.svg", alt="")
						p File.png
					button.delete-file
						<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14"><g><g><path d="M4.525 3.818a.5.5 0 0 1 .707 0L7 5.586l1.768-1.768a.5.5 0 0 1 .707 0l.707.707a.5.5 0 0 1 0 .707L8.414 7l1.768 1.768a.5.5 0 0 1 0 .707l-.707.707a.5.5 0 0 1-.707 0L7 8.414l-1.768 1.768a.5.5 0 0 1-.707 0l-.707-.707a.5.5 0 0 1 0-.707L5.586 7 3.818 5.232a.5.5 0 0 1 0-.707zM7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14z"/></g></g></svg>
			.upload-file
				.upload-file--name
					div
						img(src="img/file-icon.svg", alt="")
						p Uploading file.png
					button.delete-file
						<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14"><g><g><path d="M4.525 3.818a.5.5 0 0 1 .707 0L7 5.586l1.768-1.768a.5.5 0 0 1 .707 0l.707.707a.5.5 0 0 1 0 .707L8.414 7l1.768 1.768a.5.5 0 0 1 0 .707l-.707.707a.5.5 0 0 1-.707 0L7 8.414l-1.768 1.768a.5.5 0 0 1-.707 0l-.707-.707a.5.5 0 0 1 0-.707L5.586 7 3.818 5.232a.5.5 0 0 1 0-.707zM7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14z"/></g></g></svg>
				.load-progress
					span(style="width:30%;")
		.item--input-label.small-offset
			.file-input-wrapper
				label(for="upload-file").button.popup-button.attach-file Attach a File
					<svg xmlns="http://www.w3.org/2000/svg" class="pluss-icon" width="12" height="12" viewBox="0 0 12 12"><g><g><path fill="#161516" d="M0 5.5A.5.5 0 0 1 .5 5H5V.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5V5h4.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H7v4.5a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5V7H.5a.5.5 0 0 1-.5-.5z"/></g></g></svg>
				input(id="upload-file" type="file" name="image")
		.item--input-label.small-offset
			button.popup-button.button Send

	//- New Ticket
	.popup-default.new-ticket.default-offset.zoom-anim-dialog#new-ticket
		h3.heading-popup New Ticket
		.height-36
		.item--input-label
			.item--label
				label(for="contact-subject") Subject
			.item--input
				input(id="contact-subject")
		.item--input-label.small-offset
			.item--label
				label(for="text-message") Message
			.item--input
				textarea(id="text-message")
		.item--input-label.small-offset
			.file-input-wrapper
				label(for="upload-file").button.popup-button.attach-file Attach a File
					<svg xmlns="http://www.w3.org/2000/svg" class="pluss-icon" width="12" height="12" viewBox="0 0 12 12"><g><g><path fill="#161516" d="M0 5.5A.5.5 0 0 1 .5 5H5V.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5V5h4.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H7v4.5a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5V7H.5a.5.5 0 0 1-.5-.5z"/></g></g></svg>
				input(id="upload-file" type="file" name="image")
		.item--input-label.small-offset
			button.popup-button.button Send

	//- Are you sure you want to close this ticket?
	.popup-default.popup--withdraw-cancel.default-offset.zoom-anim-dialog.message-status#ticket-cancel
		.height-36
		h3.heading-default.text-center 
			| Are you sure you want
			br
			| to close this ticket?
		.wrap--send-button.text-center
			a(href="#ticket-success").popup.button.cancel-button Yes,Cancel
			a(href="#").button.cancel-button.gray-color No

	//- New ticket  has been created
	.popup-default.popup-pass-reset.zoom-anim-dialog.message-status#create-ticket
		h3.heading-default.text-center New ticket  has been created
		p.popup--text-info We will respond to you within 24 hours
		.wrap--send-button.text-center
			a(href="contact-tikets-active.html").button.send-button Got It

	//- Ticket Successfully
	.popup-default.popup--withdraw-success.default-offset.zoom-anim-dialog.message-status#ticket-success
		.height-36
		h3.heading-default.text-center Ticket has been successfully closed
		.wrap--send-button.text-center
			a(href="contact-tikets-closed.html").button.send-button Got It

	//- Settings
	.popup-default.default-offset.settings.zoom-anim-dialog.message-status#settings
		.height-36
		h3.heading-default Settings
		.settings-wrapper
			.settings-item
				span.name--settings-item Odds Display
				select.select-phone.select-black
					option(value="") Fractional
					option(value="") Fractional 1
					option(value="") Fractional 2
					option(value="") Fractional 3
			.settings-item
				span.name--settings-item Language
				select.select-phone.select-black
					option(value="") English
					option(value="") Español
					option(value="") Deutsch
					option(value="") Français
			.settings-item
				span.name--settings-item Time Zone
				select.select-phone.select-black
					option(value="") GMT-4
					option(value="") GMT-3
					option(value="") GMT-2
					option(value="") GMT-1

//- Filter History
div(style="display: none").custom-popup#popup-filter--mobile
	.overlay-popup
	.popup-default.mobile-popup--style
		span.custom-close

		h3.mobile-head Filter
		form(action="")

			.filter-hidden--mobile
				.filter-hidden--items
					p.status-filter Status
					.checkout-status
						.checkout-status--items
							label.checkbox-static
								input(type="checkbox", checked, required="").checkbox-static--input
								p.checkbox-static--text Status 1
						.checkout-status--items
							label.checkbox-static
								input(type="checkbox", required="").checkbox-static--input
								p.checkbox-static--text Status 2
						.checkout-status--items
							label.checkbox-static
								input(type="checkbox", required="").checkbox-static--input
								p.checkbox-static--text Status 3
						.checkout-status--items
							label.checkbox-static
								input(type="checkbox", checked, required="").checkbox-static--input
								p.checkbox-static--text Status 4
				.filter-hidden--items
					.filter-date
						.filter-date--items
							.item--label
								label(for="start-date--mob").default-label Start Date
							.item--input
								input(id="start-date--mob", type="text").filter-date.datapicker.input-black
						.filter-date--items
							.item--label
								label(for="end-date--mob").default-label End Date
							.item--input
								input(id="end-date--mob", type="text").filter-date.datapicker.input-black

			.filter-hidden--items.filter-buttons--mobile
				.filter-buttons
					button.button.send-button Apply Filters
					button.reset.reset-mobile Reset Filters

//- Filter History
div(style="display: none").custom-popup#popup-trnfilter--mobile
	.overlay-popup
	.popup-default.mobile-popup--style
		span.custom-close

		h3.mobile-head Filter
		form(action="")

			.filter-hidden--mobile
				.filter-hidden--items
					p.status-filter Status
					.checkout-status
						.checkout-status--items
							label.checkbox-static
								input(type="checkbox", checked, required="").checkbox-static--input
								p.checkbox-static--text Deposit
						.checkout-status--items
							label.checkbox-static
								input(type="checkbox", required="").checkbox-static--input
								p.checkbox-static--text Withdraw

				.filter-hidden--items
					.filter-date
						.filter-date--items
							.item--label
								label(for="start-date--mob").default-label Start Date
							.item--input
								input(id="start-date--mob", type="text").filter-date.datapicker.input-black
						.filter-date--items
							.item--label
								label(for="end-date--mob").default-label End Date
							.item--input
								input(id="end-date--mob", type="text").filter-date.datapicker.input-black

			.filter-hidden--items.filter-buttons--mobile
				.filter-buttons
					button.button.send-button Apply Filters
					button.reset.reset-mobile Reset Filters

//- Choose Popup
div(style="display: none").add-new--payment-mobile#choose-payment
	span.custom-close
	.heading-choose
		h3.head-choose Choose Payment Method
	a(href="#").add-payment--items
		span.arrow-default
		.payment-card
			img(src="img/credit-card--mc.svg", alt="")
			.payment-card--info
				p *4242
				span Credit Card
	a(href="#").add-payment--items
		span.arrow-default
		.payment-card
			img(src="img/credit-card--visa.svg", alt="")
			.payment-card--info
				p *4242
				span Credit Card
	a(href="#").add-payment--items
		span.arrow-default
		.payment-card
			img(src="img/credit-card--paypal.svg", alt="")
			.payment-card--info
				p *4242
				span Credit Card
	a(href="#").add-payment--items
		span.arrow-default
		.payment-card
			img(src="img/credit-card--ame.svg", alt="")
			.payment-card--info
				p *4242
				span Credit Card
	.button-wrapper--mobile
		button.button.popup-button Add New Payment Method